@import "./utility.scss";
.main-bg {
  background: #a0d3c5 url("../images/pattern.svg") repeat;
  background-size: cover;
  height: 100%;
  max-width: 100%;
}

.active-page,
.active-page:hover {
  background-color: color(secondary);
  color: color(quaternary);
}

.arrow {
  background-color: #2a6b73 !important;
}

.disabled-arrow {
  background-color: #c7cfb7 !important;
  pointer-events: none;
}
