@import "./utility.scss";

.nav {
  background-color: #00587a;
}

a,
a:hover {
  color: color(quaternary);
}

.navbar-brand {
  font-family: "Hachi Maru Pop", cursive;
}

.btn {
  background: #ffffff;
}

.navbar-toggler {
  color: color(quaternary);
}
