.nav {
  background-color: #00587a;
}

* {
  font-family: "Libre Franklin", sans-serif;
}

a {
  color: #e7e7de !important;
}

.navbar-brand {
  font-family: "Hachi Maru Pop", cursive;
}

.btn {
  background: #ffffff;
}
