@import "./utility.scss";

.side-nav {
  background-color: color(primary);
}

.side {
  color: color(quaternary) !important;
  font-weight: bold;
  &::after {
    content: "";
    background: color(primary) url("../images/squares.png") no-repeat;
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    height: 120%;
  }
  height: 50%;

  @include response(md) {
    height: 10rem;
  }
}

.active-nav,
.active-password,
.active-post {
  background-color: color(lightFresh);
  color: color(fresh);
  font-weight: bold;
}

.container {
  padding-left: 0 !important;
}

.row {
  --bs-gutter-x: 0rem;
}
